<section id="section-integration" class="section--integrations">
  <div class="section__title">
    <h3 class="font-fjalla">Trusted by</h3>
  </div>
  <div class="flex--horizontal">
    <app-img path="assets/images/logos/1.svg" alt="logo-1"></app-img>
    <app-img path="assets/images/logos/2.svg" alt="logo-2"></app-img>
    <app-img path="assets/images/logos/3.svg" alt="logo-3"></app-img>
    <app-img path="assets/images/logos/4.svg" alt="logo-4"></app-img>
    <app-img path="assets/images/logos/5.svg" alt="logo-5"></app-img>
    <app-img path="assets/images/logos/6.svg" alt="logo-6"></app-img>
  </div>
</section>
